html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: "Bernhard-Gothic";
    src: url("Fonts/BernhardGothicURW-Heavy.ttf") format('truetype');
}

body, h2,h4,h5,h6 {
    color: #ffbe3e;
    font-family: "Bernhard-Gothic", sans-serif;
}
h1 {
    font-family: "Bernhard-Gothic", sans-serif;
}
h1 {
    color: #5ce1e6;
}
h3 {
    font-family: "Bernhard-Gothic", sans-serif;
}
h3 {
    color: #FFFFFF;
    font-size: 3.875em;
}
p {
    color: #ffbe3e; /* #ffbe3e #5ce1e6 #FFFFFF */
}

    #main {margin-left: 80px}
    /* Remove margins from "page content" on small screens */
    @media only screen and (max-width: 600px) {
      #main {margin-left: 0};
    }
    p {
      font-size: 1.5em;
    }
    .header {
      font-size: 5em;
    }
    .sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(90deg, #5ce1e6,#5ce1e6,#5ce1e6,#5ce1e6,#5ce1e6,#5ce1e6,#5ce1e6,#5ce1e6,#5ce1e6,#49c0c4);
  overflow-x: hidden;
  padding-top: 16px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
}

.mainSection{
   flex: 1;
    margin-left: 100px; /* Match sidebar width */
    padding-right: 20px;
    padding-bottom: 0;
}

.sidebar a {
  padding:8px;
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
  display: block;

}

.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar a i {
  transition: all 0.3s linear;
}
.sidebar a:hover i {
  transform: scale(1.25);
}

.sidebar img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.main {
  margin-left: 80px; /* Same as the width of the sidenav */
}

/* @media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
} */

.socialsContainer {
  background-color: #ffbe3e;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
  height: 80px;

}
.projectsContainer {
    background-color: #FFFFFF;
    padding: 25px;
    text-align: center;
}
.projectsContainer h2 {
  color: #ffbe3e;
  font-size: 65px;
}
.projectGrid {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  padding: 100px;
  gap: 25px;
    
}
.projectCard {
  background: linear-gradient(152deg, #FFFFFF, #ffbe3e);
  padding: 2rem;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffbe3e;
  border-radius: 8px;
  width: 250px;
}
.d4lm {
  background: linear-gradient(152deg, #020204, #39163f);
}
.d4lm p {
  color: #FFFFFF;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}
.sorbital {
    background: linear-gradient(152deg, #000000, #3533cd);
}
.sorbital p {
    color: #FFFFFF;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

.projectCard:hover {
  transform: scale(102%);
  box-shadow: 0 10px 20px rgba(139,47,147,0.2);
}
.agenda {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(92, 225, 230, 0.1);
}

.agenda h2 {
    color: #5ce1e6;
    margin-bottom: 15px;
}

.agenda object {
    width: 100%;
    height: 600px;
    border: 1px solid #5ce1e6;
    border-radius: 5px;
}
.agenda {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #5ce1e6;
}
.agenda h2 {
  color: #FFFFFF;
}
.agenda p {
  color: #FFFFFF;
}
.aboutUs {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #ffbe3e;
}
.aboutUs img {
  border-radius: 25px;
  margin: 16px;
    outline: #FFFFFF solid 8px;
}
.aboutUs img {
  transition: all 0.3s ease;
  cursor: pointer;
}
.aboutUs img:hover {
  transform: translateY(-10px);

}
.LRPadding {
  padding-left: 25px;
  padding-right: 25px;
}
.socialsContainer a i {
  color: #FFFFFF;
  margin: 10px;
  transition: all 0.15s ease;
}
.socialsContainer a:hover i {
  transform: translateY(-2px);
}

.dsc:hover {
  color: #5865F2;
}
.ig:hover{
  color: #E1306C;
}
.yt:hover {
  color: #FF0000;
}
.fb:hover {
  color: #4267B2;
}
.xtw:hover {
  color: #000000;
}
.git:hover {
  color: #000000;
}
.mai:hover {
  color: #666666;
}
.roundEdges {
  border-radius: 500px;
}

a {
  color: inherit;
  text-decoration: none;
}
a {
  background: 
    linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover,
a:focus {
  background-size: 0 0.1em, 100% 0.1em;
}
